*{box-sizing: border-box}
html{
    font-family: Arial, sans-serif;
    background-color: #B3C8CF;
}
body{
    margin: 0 0 0 0;
}
main {grid-area: main}
label {grid-area: label}
#links {grid-area: menu}
#usrsearch {grid-area: heading}

#wrapper{
    display: grid;
    grid-gap: 0;
    max-width: 1500px;
    margin-right: auto;
    margin-left: 1em;
    grid-template-areas:
    "main";
}
a{
    text-decoration: none;
    color: black;
}
article{
    text-align: center;
}
.home{
    border: 1px solid black;
    border-radius: 10px;
    margin: 1em 1em 0 0;
    padding-bottom: 1em;
    background-color: #F1EEDC;
}
.home:hover{
    background-color: #E5DDC5;
}
#bigPrevImage{
    width: 60%;
}
.prevImage{
    width: 30%;
}
#reviews{
    border: 1px solid black;
    text-align: center;
}
#reviews h3{
    padding-top: 1em;
}
#recommendations{
    border: 1px solid black;
}
.item{
    margin-right: 1em;
}
fieldset{
    border: 0;
}
label{
    display: block;
}
input, textarea{
    margin-top: 1em;
}

.topnav {
    overflow: hidden;
    position: relative;
}
header{
    background-color: #BED7DC;
}


/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #links {
    display: none;
    text-align: center;
    grid-gap: 0;
    grid-template-areas:
    "menu"
    "menu"
    "menu";
}

/* Style navigation menu links */
.topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #E5DDC5;
    color: black;
}
.active{
    text-align: center;
}
.active img{
    display: none;
}
#searchform{
    text-align: center;
}
#searchform input[type=text]{
    border: none;
    border-radius: 20px;
    padding: 0.5em 10em 0.5em 0;
    text-align: center;
}
#srchresult{
    display: none;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: center;
    grid-gap: 0;
    grid-template-areas:
    "heading"
    "main"
    "main"
    "main";
}

@media  screen and (min-width: 40em) {

    #wrapper{
        grid-template-columns: 5fr 5fr 5fr 5fr;
        grid-template-areas:
        "main main main main";
        padding-top: 5em;
    }
    #wrapper.sellwrap{
        grid-template-columns: 5fr 5fr 5fr;
        grid-template-areas:
        "main main main";
        padding-top: 5em;
    }
    .home{
        margin: 0 1em 0 0;
    }
    #reviews{
        margin-top: 2em;
        margin-left: 2em;
    }
    .topnav #links{
        grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
        grid-template-areas:
        "menu menu menu menu menu";
    }
    .topnav a.icon{
        display: none;
    }
    .active img{
        display: inline;
        width: 5%;
    }
    /*.active h3{
        display: none;
    }*/
    #srchresult{
        grid-template-columns: 5fr 5fr 5fr;
        grid-template-areas:
        "heading heading heading"
        "main main main";
    }
    #searchform input[type=text]{
        padding: 0.5em 20em 0.5em 0;
    }

}